shim-version: v0.1.9@sha256:410510c9e8e4c7489dd201fede302dee8455075ca28f4f0abbf84bded943b8f1
cvm-version: 0.4.1
cpus: 32
memory: 524288
gpus: full
vllm: false

models:
  - name: "llama3-3-70b-fp8"
    repo: "RedHatAI/Llama-3.3-70B-Instruct-FP8-dynamic@984c96b73bcf6a675945bac6382b9ed551e5d42b"
    mpk: "0d0be05062e4d3fadc17176cffd1ef6b518a02b0410bd897723f423074ec6cb5_72687374336_99f5f660-3ee0-5626-9772-2f082314e763"
  - name: "qwen3-coder-480b"
    repo: "Qwen/Qwen3-Coder-480B-A35B-Instruct-FP8@003f183a92fbe5b9a8325aaa8b2ae797c91dd90f"
    mpk: "81993809d5510f60b216a144a27d4a2ca1df6b5ddaa6b7f0096a040bb5b1bf07_482171310080_b7089f0d-7aa8-508f-a7f2-10d8bf7001c8"

containers:
  - name: "llama3-3-70b-fp8-tp4"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "'\"device=0,1,2,3\"'",
      "--ipc", "host",
      "vllm/vllm-openai:v0.10.2",
      "--model", "/tinfoil/mpk/mpk-0d0be05062e4d3fadc17176cffd1ef6b518a02b0410bd897723f423074ec6cb5",
      "--tensor-parallel-size", "4",
      "--served-model-name", "llama3-3-70b",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "llama3_json",
      "--chat-template", "examples/tool_chat_template_llama3.2_json.jinja",
      "--port", "8001"
    ]
  - name: "qwen3-coder-480b-tp4"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "'\"device=4,5,6,7\"'",
      "--ipc", "host",
      "vllm/vllm-openai:v0.10.2",
      "--model", "/tinfoil/mpk/mpk-81993809d5510f60b216a144a27d4a2ca1df6b5ddaa6b7f0096a040bb5b1bf07",
      "--tensor-parallel-size", "4",
      "--gpu-memory-utilization", "0.95",
      "--max-model-len", "131072",
      "--enable-auto-tool-choice",
      "--tool-call-parser", "qwen3_coder",
      "--chat-template", "examples/tool_chat_template_qwen3coder.jinja",
      "--served-model-name", "qwen3-coder-480b",
      "--port", "8002"
    ]
  - name: "model-router"
    image: ""
    args: [
      "ghcr.io/tinfoilsh/model-router:0.0.1",
      "/app/bin", "-m", "llama3-3-70b_8001,qwen3-coder-480b_8002",
    ]

shim:
  listen-port: 443
  upstream-port: 8087
  publish-attestation: false
  tls-challenge: dns
  control-plane: https://api.tinfoil.sh
  paths:
    - /v1/chat/completions
    - /metrics
